.windowConstructor {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 40px;
}
.buns {
    margin-left: 22px;
}

.constructor_mains {
    width: 600px;
    max-height: 500px;
    overflow-y: scroll;
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.makeOrder__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 170px;
    margin-top: 40px;
    margin-bottom: 50px;
    align-items: center;
}
.finalPrice {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
