.container {
    height: 320px;
    width: 600px;
    position: absolute;
    top: 200px;
    left: 250px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.navContainer {
    display: flex;
    flex-direction: column;
    width: 320px;
}
.navBar {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}
.btn {
    height: 64px;
    width: 320px;
    background: #131316;
    text-align: left;
    border: none;
    color: #8585AD;;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.btnActive {
    color: white;
}

.btnInactive {
    color: #8585AD;
}