.windowIngredients {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow-x:hidden;
}
.ingredients_section {
    width: 600px;
    max-height: 700px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.ingredient_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 272px);
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 24px 32px;
    margin: auto;
    width: 600px;
    justify-content: center;
}
.ingredient_type {
    margin-top: 40px;
    margin-bottom: 24px;
}
.constructor__header {
    margin-bottom: 20px;
}

.price_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 9px;
}

.ingredient_name {
    text-align: center;
    margin-top: 8px;
}
.ingredient_photo {
    margin-left: 32px;
}
.ingredient_counter {
    z-index: 10;
    margin-top: 0;
    margin-right: -20px;
}
.ingredient_section {
    position: relative;
    display: block;

}
.link {
    text-decoration: none;
    color: white;
}
